<h1>Playing with the <%= @deck.name %> deck</h1>

<form method="POST" action="/decks">
  <label for="answer">Please submit guess:</label>
  <input id="answer" type="text" name="card[answer]">
   <input type="submit" value="Submit">
</form>
