<h1><%= @next_card.prompt %></h1>

<form method="POST" action="/decks/<%=@deck.id%>/rounds/<%=@round.id%>/guess">
  <label for="answer">Please submit guess:</label>
  <input id="answer" type="text" name="card[answer]">
   <input type="submit" value="Submit">
</form>
