
<h1>Weclome to web flash cards!</h1>h

<h2>Please choose a deck to play:</h2>
>>>>>>> 8dbb5d1c82e4bb1dc3e2b7024893eea1874b474c

<ul>
  <% @deck.each do |deck| %>
    <li><a href="/decks/<%= deck.id %>"><%= deck.name %></a></li>
  <% end %>
</ul>
